body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Light azure background for a soft appearance */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

button {
    background-color: #007bff; /* Bootstrap primary blue */
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3; /* A darker shade of blue for hover effect */
    transform: scale(1.05); /* Slightly enlarge button on hover */
}

button:active {
    background-color: #004085; /* Even darker blue for active/click effect */
}

button:focus {
    outline: none; /* Removes the outline to keep the design clean */
}

#canvas-container {
    display:flex;
    width: 80%;
    margin: 0 auto; /* Centers the container */
    /* Optional: Set a max-width if you want to limit how wide the container can get */
    align-items: center;
    justify-content: center;
}


/* Additional styling for specific buttons if needed */
#reset-btn, #undo-btn {
    background-color: #17a2b8; /* Bootstrap info blue */
}

#small-btn, #medium-btn, #large-btn {
    background-color: #007bff; /* Consistent with the main theme */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    button {
        padding: 12px 20px;
        font-size: 16px;
    }
}

#boardCanvas {
    border-radius: 70px; /* Adjust the radius as needed */
  }
  